.footer-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  font-size: 10px;
  overflow: hidden;
  margin-bottom: 8px;
}

.footer-wrapper_img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  color: blue;
  margin-left: 0.5rem;
}

.footer-wrapper p {
  font-weight: 500;
}
