@font-face {
  font-family: 'IranYekanBold';
  font-family: 'IranYekanBold';
  src: url('/assets/fonts/IRANYekanXFaNum-DemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'IranYekanExtraBold';
  font-family: 'IranYekanExtraBold';
  src: url('/assets/fonts/IRANYekanXFaNum-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'IranYekan';
  src: url('/assets/fonts/IRANYekanXFaNum-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'IranYekanRegular';
  font-family: 'IranYekanRegular';
  src: url('/assets/fonts/IRANYekanXFaNum-Regular.ttf') format('truetype');
}
