.custom-table {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
    max-height: auto;
    overflow-x: auto;
    scrollbar-width: thin; /* Makes scrollbar thinner */
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(255, 255, 255, 0.5); /* Sets thumb and track colors */

    /* Fallback for browsers that do not support the scrollbar styling */
    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }

  // Table header styles
  :global {
    .ant-table-thead > tr > th {
      text-align: center;
      &::before {
        width: 0 !important;
      }
    }

    .ant-table-wrapper
      .ant-table-container
      table
      > thead
      > tr:first-child
      > *:first-child {
      border-start-start-radius: unset;
    }

    .ant-table-thead > tr > th {
      background-color: #fff;
      color: var(--Normal-Text);
      font-family: 'PoppinsMedium500';
      font-size: 14px;
    }

    .ant-checkbox-indeterminate .ant-checkbox-inner:after {
      border-radius: 50%;
      background-color: var(--PrimaryColor);
    }

    // Table body styles
    .ant-table-tbody {
      > tr {
        .ant-table-selection-column {
          z-index: 99;
        }

        > td {
          text-align: center;
        }
      }
    }

    .ant-table-cell.ant-table-selection-column.ant-table-cell-fix-left.ant-table-cell-fix-left-last {
      background-color: #fff !important;
    }

    .ant-table-wrapper .ant-table-tbody .ant-table-row.ant-table-row-selected {
      background: linear-gradient(
        270deg,
        rgba(0, 114, 255, 0.05) 5.7%,
        rgba(0, 114, 255, 0) 93.2%
      ) !important;
    }

    .ant-table-wrapper
      .ant-table-tbody
      .ant-table-row.ant-table-row-selected
      > .ant-table-cell {
      background: unset;
    }

    .ant-table-tbody > tr {
      color: var(--Normal-Text);
      font-weight: 500;
      font-size: 14px;
    }

    .ant-table {
      background-color: #ffffff;
      border-radius: 8px;

      .ant-table-tbody > tr > td {
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }

  :global(.ant-table-body) {
    overflow-x: scroll;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }
  }
}

:global(.ant-table-wrapper .ant-table-cell-fix-right) {
  background: var(--ant-color-bg-container) !important;
}

:global(.ant-table-cell-row-hover) {
  background-color: #0073ff0f !important;
}
